.main_container {
  width: fit-content;
  height: fit-content;
  min-width: 150px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 2px 2px 8px 3px rgba(black, 0.2);
}

.item_container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.15s;
}

.item_container:hover {
  opacity: 0.5;
}

.item_info_icon {
  font-size: 2rem;
  color: #00b2ff;
}

.item_info_name {
  font-size: 1.6rem;
  color: #434343;
  margin-left: 5px;
}

.item_logout_icon {
  font-size: 2rem;
  color: #ff4646;
}

.item_logout_name {
  font-size: 1.6rem;
  color: #434343;
  margin-left: 5px;
  color: #ff4646;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #c4c4c4;
  margin: 1.2rem 0;
}
