.wrapper {
  padding: 12px 24px;
}
.button_wrapper {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}
.button_wrapper button {
  padding: 12px 15px;
  font-style: bold;
}
.icon {
  margin-left: 24px;
  font-size: 16px;
}
table.table-managing-point {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
.table-container {
  margin: 10px 0px;
  width: 100%;
  height: 72rem;
  overflow: scroll;
  table.table-project-point {
    border-collapse: collapse;
    width: 100%; /* Make sure the table takes the full width of the container */
  }
}
.stickyRow {
  position: sticky;
  top: 0;
  background-color: #bdd7ee; /* Sky Blue */
  contain: content;
  padding: 0;
  z-index: 3;
}

.stickyColumn {
  position: sticky;
  left: 1px;
  top: 1px;
  background-color: #ffd966; /* Set the background color as needed */
  contain: content;
  padding: 0;
  width: 12rem;
  z-index: 2;
}
.inputPoint {
  width: 100%;
  min-width: 140px;
  height: 48px;
  padding: 0 4px;
  border: none;
}
.inputPoint:disabled {
  background: #dddddd;
}
.disabled {
  background: #dddddd;
}
.totalPoint {
  font-weight: 600;
  background-color: #f4b084;
  .total {
    width: 100%;
    margin-left: 4px;
  }
}

.element {
  padding: 0;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
}
.elementEmpty {
  padding-top: 50px;
  border-bottom: 1px solid #000;
}
.elementHeader {
  min-width: 140px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
.elementHeaderFirst {
  border: 1px solid #000;
}
.elementSide {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  height: 49px;
  width: 12rem;
}
.elementLastSide {
  border: 1px solid #000;
  height: 49px;
}
.elementHeader:last-child {
  border-right: 1px solid #000;
}
th.header_managing_point,
td.data_managing_point {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th.header_managing_point {
  background-color: #f2f2f2;

  width: 10%;
}

.actions {
  display: flex;
}
.menu-list {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.active {
  color: var(--primary) !important;
}
.menu-item {
  display: inline-block;
  margin: 0 48px;

  & a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
  }
  & a:hover {
    opacity: 0.6;
  }
  font-weight: 500;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  .icon {
    margin-left: 24px;
    font-size: 16px;
  }
}

.button-wrapper {
  margin: 20px;
  .wrapper {
    margin-right: 24px;
  }
  .custom-button {
    background-color: var(--button); /* Màu nền xanh lá cây */
    color: white; /* Màu chữ trắng */
    padding: 10px 15px; /* Kích thước padding */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Chuyển đổi con trỏ khi di chuột vào nút */
    border: none; /* Không có đường viền */
    border-radius: 4px; /* Góc bo tròn */
    font-weight: 700;
  }

  .icon {
    margin-left: 12px;
  }

  .custom-button:hover {
    background-color: var(--hover-color); /* Màu nền xanh lá cây nhạt khi hover */
  }

  .custom-button:disabled {
    background-color: #cccccc; /* Màu nền xám cho nút bị vô hiệu hóa */
    cursor: not-allowed; /* Con trỏ không cho sự kiện không hoạt động */
  }
}

.filter {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 0.75rem;
  z-index: 10;
  margin-right: 24rem;

  &__ic {
    font-size: 2.5rem;
    color: #6faf8c;
    cursor: pointer;
    transition: all 0.2s;

    &--active {
      filter: brightness(1.2);
    }
  }
}
