@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary: #a9e7db;
    --button: #6faf8c;
    --background: #c9f5e9; //Header, Footer, hay button
    --background-input: #e0f7fa;
    --text: #82cca1;
    --hover-color: #b4e1ca;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
